<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= params[:og_type] %>: http://ogp.me/ns/<%= params[:og_type] %>#">
  <meta property="fb:app_id" content="<%= APP_ID %>" />
  <% params.keys.each { |k| %>
      <% if k.to_s.start_with?('og') %>
      <meta property="<%= k %>" content="<%= params[k] %>" />
      <% end %>
  <% } %>
</head>

<body style="margin: 0">
<div style="height: 20px; background-color: blue"></div>
<iframe src="<%= params['content_url'] %>" width="100%" height="500" border=0></iframe>
</body>
</html>

